:host {
  --_evidence-editor_gap: var(--evidence-gap, 0.5rem);

  display: flex;
  flex-direction: column;
  gap: var(--_evidence-editor_gap);
  padding: var(--_evidence-editor_gap);
}

.duration-slider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_evidence-editor_gap);
}